[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
torch = '==1.3.0'

[packages.rainy]
editable = true
extras=['ipython']
path = '.'

[dev-packages]
pybullet = '>=2.4'
